html {
    height: 100%;
}

body {
  
    color: #555;
    font-family: 'Open Sans', sans-serif;
    margin:0;
    padding:0;
    height:100%;
    position: relative;
}

h2{
    font-size: 20px;
    letter-spacing: 2px;
    text-transform:uppercase;
}

h3{
    font-size: 18px;
    letter-spacing: 2px;
}

h4{
    font-size: 14px;
    font-weight: 200;  
}

a {
    color: #555;
}

.btn{
    background-color: #DEB468;
    color: white;
    text-transform: uppercase;
}

.padding-row {
    padding-bottom: 30px;
}


/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

/* -------------------------------- Navbar */

nav ul li a {
	color: black;
}

.menu, .shopping-bag {
	font-family: 'Open Sans', sans-serif;
	font-weight: 500;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 5px;

}
.menu a:hover {
	color: #81665f;
	background-color: transparent;
}

.nav-search{
    border-color: #555;
	border-radius: 1.5rem;
	height: 1.8rem;
	width: 10rem;
}

.search-icon{
    background-color: transparent !important;
    color: #81665f;
    padding: 0;
}

/* -------------------------------- home page */
.index-hero{
    background: url('/media/homepage-background.jpg') no-repeat center center fixed;
    background-size: cover;
    height:100vh;
}

/*https://www.sliderrevolution.com/resources/css-button-hover-effects/*/
.shop-now-button {
    min-width: 260px;
    transition: all .5s ease;
    color: #555;
    border: 2px solid black;
    font-family:'Open Sans', sans-serif;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    font-size: 17px;
    background-color: transparent;
    padding: 10px;
    outline: none;
    border-radius: 4px;

}

.shop-now-button:hover {
    color: #001F3F;
    background-color: #fff;
  
   
}

.card-img{
    object-fit: cover;
}

.image-button{
    min-width: 160px;
    transition: all .5s ease;
    color: #555;
    border: 2px solid black;
    font-family:'Open Sans', sans-serif;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    font-size: 17px;
    background-color: #fff;
    padding: 10px;
    outline: none;
    border-radius: 4px;
    margin-top: 100px;
}

/* -------------------------------- other */

.heading {
    text-transform: uppercase;
}

.sub-heading{
    text-transform: uppercase;
    font-size: 24px;
    letter-spacing: 2px;
}

.main-logo-link {
    width: fit-content;
}

#delivery-banner {
    background: #81665f;
    color: white;
}



.overlay{
    height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: #F2F1EF;
	z-index: -1;
}

.overlay-white{
    height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}


a.category-badge > span.badge:hover {
    background: #212529 !important;
    color: #fff !important;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link ,
.update-link,
.remove-item {
    cursor: pointer;
}

input[name='q']::placeholder {
    color: #aab7c4;
}

/* ------------------------------- allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
	color: #17a2b8; /* text-info */
}

.shopping-bag{
    color: #555 !important;
}

/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}
/* ------------------------------- blog */


.btn-danger {
    color: #fff;
    background-color: #f00000;
    border-color: #dc281e;
}

.btn-blog {
    color: #555;
    background-color: transparent;
    text-transform: uppercase;
    font-size: 14px;
    padding-left: 0;
}
a.btn.btn-blog:hover {
	color: #81665f;
    text-decoration: none;
}

.masthead {
    background: #3398E1;
    height: auto;
    padding-bottom: 15px;
    box-shadow: 0 16px 48px #E3E7EB;
    padding-top: 10px;
}

.card-title a:hover {
	color: #81665f;
    text-decoration: none;
}
/* ------------------------------- product form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

/* -------------------------------- product detail */


.product-name{
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
}

.product-price{
    font-size: 16px;
}

.product-description{
    font-size: 14px;
}

.decrement-qty, .increment-qty{
    padding: .5rem .5rem;
    background-color: transparent;
    color: black;
} 

/* -------------------------------- footer */

/*https://www.w3schools.com/howto/howto_css_fixed_footer.asp*/
.page-footer {
    
    bottom: 0;
    width: 100%;
    background-color: white;
}

.social-links {
    padding-bottom: 10px;
    padding-top: 15px;
  }

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    font-size: 20px;
    line-height: 7px;
    text-align: center;
    color:#81665f !important;
  }

.social-links li a i:hover {
	color: #FC6A60 !important;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
      max-width: 80%;
    }

  }
  
  /* fixed top navbar only on medium and up */
  @media (min-width: 992px) {
      .fixed-top-desktop-only {
          position: fixed;
          top: 0;
          right: 0;
          left: 0;
          z-index: 1030;
      }
  
      .header-container {
          padding-top: 100px;
      }

      .shopping-bag{
        margin-left: 4rem;
    }
  }

  

  /* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
}

.form-inline .search-field {
    display:inline-block;
    width:80%;
    background:none;
    border:none;
    border-bottom:1px solid transparent;
    border-radius:0;
    color:#ccc;
    box-shadow:none;
    color:inherit;
    transition:border-bottom-color 0.3s;
  }

  .form-inline .search-field:focus {
    border-bottom:1px solid #ccc;
  }

  .heading {
      font-size: 3rem;
  }

  .nav-link {
    padding: 0.20rem;
}

.navbar-toggler {
    font-size: 1rem;
}