<footer class="page-footer">
   <div class="container">
      <div class="row">
         <!-- social icons/links -->
         <div class="col">
            <ul class="d-flex pagination justify-content-center social-links">
               <li><a target="_blank" class="social-icons" href="https://www.facebook.com/ofstories" rel="noopener"><i
                  class="fab fa-facebook" aria-hidden="true"></i></a>
               </li>
               <li><a target="_blank" class="social-icons" href="https://www.instagram.com/ofstories" rel="noopener"><i
                  class="fab fa-instagram" aria-hidden="true"></i></a>
               </li>
               <li><a target="_blank" class="social-icons" href="https://www.twitter.com" rel="noopener"><i
                  class="fab fa-twitter" aria-hidden="true"></i></a></li>
               <li><a target="_blank" class="social-icons" href="https://www.pinterest.se/ofstories/" rel="noopener"><i
                  class="fab fa-pinterest" aria-hidden="true"></i></a>
               </li>
            </ul>
         </div>
      </div>
      <div class="small text-center pb-3">
         Of Stories &copy; 2022 All Rights Reserved
      </div>
   </div>
</footer>