<!-- navbar template with bootstrap navbar -->
<nav class="navbar navbar-light navbar-expand-lg menu">
    <div class="container-fluid">
       <a class="navbar-brand" href="{% url 'home' %}">
       <img src="{{ MEDIA_URL }}logo.png" alt="Of Stories logo" style="width:auto" height="40">
       </a>
       <button class="navbar-toggler navbar-light bg-light" type="button" data-toggle="collapse"
          data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
       </button>
       <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mb-2 mr-auto">
             <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                Shop
                </a>
                <div class="dropdown-menu border-0 menu" aria-labelledby="navbarDropdown">
                   <a href="{% url 'products' %}?category=blankets" class="dropdown-item">Blankets</a>
                   <a href="{% url 'products' %}?category=baskets" class="dropdown-item">Baskets</a>
                   <a href="{% url 'products' %}?category=pillows" class="dropdown-item">Pillows</a>
                   <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
                </div>
             <li class="nav-item">
                <a class="nav-link dropdown-item" href="{% url 'blog' %}">Blog</a>
             </li>
             <!-- nav links showing only if user is logged in as admin -->
             {% if request.user.is_superuser %}
             <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                Admin
                </a>
                <div class="dropdown-menu border-0 menu" aria-labelledby="navbarDropdown">
                   <a class="nav-link dropdown-item" href="{% url 'add_product' %}">Add Products</a>
                   <a class="nav-link dropdown-item" href="{% url 'add_post' %}">Add Blogpost</a>
                </div>
                {% endif %}
                <!-- nav links showing only if user is logged in -->
                {% if request.user.is_authenticated %}
             <li class="nav-item">
                <a class="nav-link dropdown-item" href="{% url 'profile' %}">My Profile</a>
             </li>
             <li class="nav-item">
                <a class="nav-link dropdown-item" href="{% url 'account_logout' %}">Log out</a>
             </li>
             {% else %}
             <li class="nav-item">
                <a class="nav-link dropdown-item" href="{% url 'account_signup' %}">Sign Up</a>
             </li>
             <li class="nav-item">
                <a class="nav-link dropdown-item" href="{% url 'account_login' %}">Log in</a>
             </li>
             <li class="nav-item">
                <a class="nav-link dropdown-item" href="{% url 'contact' %}">Contact</a>
             </li>
             {% endif %}
          </ul>
          <!-- search field -->
          <form class="form-inline d-flex" method="GET" action="{% url 'products' %}">
             <input class="form-control mr-sm-2 nav-search" type="text" name="q" placeholder="Search" aria-label="Search">
             <button class="btn search-icon" type="submit">
             <span class="icon">
             <i class="fas fa-search"></i>
             </span>
             </button>
          </form>
          <!-- shopping cart -->
          <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link"
             href="{% url 'view_bag' %}">
             <div class="shopping-bag text-lg-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bag" viewBox="0 0 16 16">
                   <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z"/>
                </svg>
                <p class="my-0">
                   {% if grand_total %}
                   ${{ grand_total|floatformat:2 }}
                   {% else %}
                   $0.00
                   {% endif %}
                </p>
             </div>
          </a>
       </div>
    </div>
 </nav>