<!-- navbar template with bootstrap navbar -->

<nav class="navbar navbar-expand-lg menu">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">
            <img src="media/logo.png" alt="" width="175" height="40">
        </a>
        <button class="navbar-toggler navbar-light bg-light" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'home' %}" id="home-link">
                        Home
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Shop
                    </a>
                    <div class="dropdown-menu border-0 menu" aria-labelledby="navbarDropdown">
                        <a href="{% url 'products' %}?category=blankets" class="dropdown-item">Blankets</a>
                        <a href="{% url 'products' %}?category=baskets" class="dropdown-item">Baskets</a>
                        <a href="{% url 'products' %}?category=pillows" class="dropdown-item">Pillows</a>
                        <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
                    </div>
                    <!-- nav links showing only if user is logged in as admin -->
                    {% if request.user.is_superuser %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'add_product' %}" class="dropdown-item">Add Products</a>
                </li>
                {% endif %}
                <!-- nav links showing only if user is logged in -->
                {% if request.user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                </li>
                {% else %}
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'account_signup' %}">Sign Up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                </li>
                {% endif %}
            </ul>
        
            <!-- search field -->
            <form class="form-inline d-flex" method="GET" action="{% url 'products' %}">
                <input class="form-control mr-sm-2" type="text" name="q" placeholder="Search" aria-label="Search">
                <button class="btn rounded-0" type="submit">
                    <span class="icon">
                        <i class="fas fa-search"></i>
                    </span>
                </button>
            </form>
        
            <!-- shopping cart -->
            <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link"
                href="{% url 'view_bag' %}">
                <div class="text-center shopping-bag">
                    <div><i class="fas fa-shopping-bag fa-lg"></i></div>
                    <p class="my-0">
                        {% if grand_total %}
                        ${{ grand_total|floatformat:2 }}
                        {% else %}
                        $0.00
                        {% endif %}
                    </p>
                </div>
            </a>
        </div>
    </div>
</nav>