<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">
            <img src="media/logo.png" alt="" width="175" height="40">
        </a>
        <button class="navbar-toggler navbar-light bg-light" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="logo-font font-weight-bold nav-link text-black" href="{% url 'home' %}" id="home-link">
                        Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="logo-font font-weight-bold nav-link text-black" href="{% url 'account_signup' %}">Sign
                        Up</a>

                <li class="nav-item dropdown">
                    <a class="logo-font font-weight-bold nav-link text-black dropdown-toggle" href="#"
                        id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Account
                    </a>
                    <div class="dropdown-menu border-0" aria-labelledby="user-options">
                        {% if request.user.is_authenticated %}
                        {% if request.user.is_superuser %}
                        <a href="" class="dropdown-item">Product Management</a>
                        {% endif %}
                        <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                        <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                        {% else %}
                        <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                        <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                        {% endif %}
                    </div>
                </li>
                </li>

                <li class="nav-item dropdown">
                    <a class="logo-font font-weight-bold nav-link text-black mr-5 dropdown-toggle" href="#"
                        id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Products
                    </a>
                    <div class="dropdown-menu border-0" aria-labelledby="navbarDropdown">
                        <a href="{% url 'products' %}?category=blankets" class="dropdown-item">Blankets</a>
                        <a href="{% url 'products' %}?category=baskets" class="dropdown-item">Baskets</a>
                        <a href="{% url 'products' %}?category=pillows" class="dropdown-item">Pillows</a>
                        <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
                    </div>
                </li>
            </ul>

            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="form-control btn rounded-0" type="submit">
                    <span class="icon">
                        <i class="fas fa-search"></i>
                    </span>
                </button>
            </form>

                            <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link" href="{% url 'view_bag' %}">
                  <div class="text-center">
                    <div><i class="fas fa-shopping-bag fa-lg"></i></div>
                    <p class="my-0">
                      {% if grand_total %}
                      ${{ grand_total|floatformat:2 }}
                      {% else %}
                      $0.00
                      {% endif %}
                    </p>
                  </div>
                </a>
        </div>
    </div>
</nav>